<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hawkeye Data View</title>

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-3">Data View</h1>

        <div class="row mt-4">
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="tournamentList">Options</label>
                    <select class="form-select" id="tournamentList" onchange="init()">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="tournamentYear-addon1">YEAR</span>
                    <input id="tournamentYear" type="number" class="form-control" placeholder="2021" aria-label="tournamentYear" aria-describedby="tournamentYear-addon1">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="outputType">Output Type</label>
                    <select class="form-select" id="outputType" onchange="init()">
                        <option selected value="match">Match names</option>
                        <option value="player">Player names</option>
                        <option value="venue">Venue</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="output">
            <div id= "venue" style="margin: auto;width: 100%;border: 1px solid black;padding: 10px;margin-top: 10px;">
                <table id="venueList" class="display table table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Venue</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id= "player" style="margin: auto;width: 100%;border: 1px solid black;padding: 10px;margin-top: 10px; display: none">
                <table id="playerList" class="display table table-striped" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Player Name</th>
                        <th>Team</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div id= "match" style="margin: auto;width: 100%;border: 1px solid black;padding: 10px;margin-top: 10px;display: none">
                <table id="matchList" class="display table table-striped" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Match Name</th>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Venue</th>
                        <th>Date (Time Code)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>